.notFoundContainer {
    text-align: center;
    margin: auto;
    padding: 50px;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 10px;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 10px;
}

.message {
    font-size: 20px;
    margin-bottom: 20px;
}

.homeLink {
    display: inline-block;
    background-color: var(--component-color);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
}

.homeLink:hover {
    background-color: var(--component-hover-color);
}
